.acc h3[data-style="client"] {font-size:11px; border:1px solid #e84a67; border-radius:15px;}
img.image {cursor:pointer;}
.fl {float:left;border-right:1px solid #ffe0e0;margin:2px;padding-right:10px;padding-left:10px;}
.end {margin:2px;padding-right:10px;padding-left:10px;}
.first {margin:5px;}
